@import url("https://use.typekit.net/miu6fwm.css");
body {
    background-image: url("/back.png");
    background-size: 100vw 100vh;
    margin: 0;
}
body::-webkit-scrollbar {
    display: none;
}
/* header {
    margin: 80px 100px;
    margin-bottom: 30px;

    display: grid;
    gr
    /* justify-content: space-around;
    align-items: center; */

/* font-size: 40px;
    text-align: center;
    font-family: bd-micronfont, sans-serif;
    font-weight: 600;
    font-style: normal;
} */

hr {
    border: 3px solid #807761;
    margin: 0px 0.1vw;
}

a {
    text-decoration: none;
    color: #807761;
}
